* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: blue;
  height: 60px;
}

.nav-logo {
  color: white;
  display: flex;
  margin-left: 15px;
}

.nav-logo > h3 {
  margin-left: 3px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

nav > ul {
  display: flex;
  margin: 0 5px;
  list-style: none;
}

.navlink {
  padding: 5px;
  font-size: 18px;
  margin: 0 15px 0 15px;
  border: 3px solid white;
  border-radius: 5px;
  letter-spacing: 0.08rem;
}

.navlink:hover {
  color: blue;
  border: 3px solid yellow;
  background-color: yellow;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: white;
}

/* Home  */

.home-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1219&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.home-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.home-icon {
  font-size: 100px !important;
  margin-bottom: 15px;
}

.home-info {
  margin-bottom: 25%;
  color: white;
}

.home-info > h3 {
  font-style: italic;
  color: white;
  font-size: 1.5rem;
}

.home-button {
  margin-top: 15px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background: blue;
  color: white;
}

.home-button:hover {
  color: blue;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* Review Card */

.review-card {
  height: 250px;
  width: 159px;
  background: blue;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.review-card > h4 {
  font-size: 25px;
  text-align: center;
  color: yellow;
}

.review-card > label {
  margin-top: 10px;
  text-align: center;
  color: yellow;
  letter-spacing: 0.08rem;
  font-weight: bold;
}

.username {
  color: yellow;
  font-weight: bold;
}

.popup-wrapper {
  height: 250px;
  width: 225px;
  background: blue;
  color: yellow;
}

.popupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
}

.popupform > label {
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.popupform > input {
  margin-bottom: 15px;
  font-size: 14px;
}

.popupform > select {
  margin-bottom: 15px;
  font-size: 14px;
}

.popupform > textarea {
  margin-bottom: 15px;
  font-size: 14px;
  height: 120px;
}

.popupsubmit {
  padding: 5px;
  background: yellow;
  color: blue;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.popupsubmit:hover {
  background-color: white;
  transition: 0.3s;
}

.need-account {
  text-align: center;
}

/* login / register */

.credentials-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1600907055749-d6cc7e75efd4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background-color: white;
  height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register {
  height: 540px;
}

.form-header {
  font-size: 28px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.world-icon {
  color: blue;
  transform: scale(2.8);
  margin-top: 25px;
}

.form-header > h4 {
  margin-top: 45px;
  font-size: 1.8rem;
}

.credentials-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credentials-form > label {
  margin: 10px 0;
  font-weight: bold;
}

.credentials-form > input {
  margin-bottom: 15px;
  height: 30px;
}

.credentials-button {
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: green;
  padding: 5px;
  color: white;
}

.credentials-button:hover {
  background-color: white;
  color: green;
  transition: 0.3s;
  border: 1px solid green;
  cursor: pointer;
}

.failure {
  color: red;
}

/* .card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
} */
